---
layout: base.njk
pageTitle: ""
---
<section class="intro">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
</section>

<ul class="issues">
  {% for issue in issues %}
    <li class="issue">
      {% if issue.image %}<a class="issue-cover" href="/posts/{{ issue.slug }}/"><img src="{{ issue.image }}" alt="" loading="lazy"></a>{% endif %}
      <div class="issue-meta">
        <h2><a href="/posts/{{ issue.slug }}/">{{ issue.title }}</a></h2>
        <time datetime="{{ issue.date | isoDate }}">{{ issue.date | humanDate }}</time>
      </div>
    </li>
  {% endfor %}
</ul>
