---
pagination:
  data: issues
  size: 1
  alias: issue
permalink: "/posts/{{ issue.slug }}/"
layout: post.njk
eleventyComputed:
  pageTitle: "{{ issue.title | safe }}"
  pageDescription: "{{ issue.bodyHtml | excerpt(180) | safe }}"
  ogType: article
  ogImage: "{{ issue.image }}"
  canonicalUrl: "{{ issue.sourceUrl }}"
---
